python-fasthtml
monsterui
feedparser
httpx
pytest
pytest-httpx
pytest-asyncio
playwright
python-dateutil
trafilatura
mistletoe
beautifulsoup4
lxml-html-clean
uvicorn
gunicorn  # For production deployment with multiple workers
aiolimiter